.modalBox:focus {
    outline: none !important;
}

.modalBox__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modalBox__header > h2 {
    color: #636e72;
    display: inline-block;
    align-self: flex-end;
}

.modalBox__closeBtn {
    width: fit-content !important;
    border-radius: 0 20px 0 0 !important;
}

