.linkForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.linkForm__inputField {
    margin-bottom: 15px !important;
}


.linkForm__addNewBtn {
    border-radius: 0 0 20px 20px !important;
}